node red.txtsmartnode.txt
[{"id":"26cdc23c.1de04e","type":"ibmiot in","z":"65504fca.1ed97","authentication":"apiKey","apiKey":"395375a0.746b4a","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345678","applicationId":"","deviceType":"ruthvik1234","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":"0","x":150,"y":200,"wires":[["c4041c44.48278","dc766988.6f7e58","4a666276.cde57c"]]},{"id":"c4041c44.48278","type":"function","z":"65504fca.1ed97","name":"humidity","func":"msg.payload=msg.payload.d.humidity\nglobal.set(\"humidity\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":200,"wires":[["93b18d4a.e9cf4","760b1701.4b4288"]]},{"id":"dc766988.6f7e58","type":"function","z":"65504fca.1ed97","name":"temperature","func":"msg.payload=msg.payload.d.temperature\nglobal.set(\"temperature\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["93b18d4a.e9cf4","ebf3a08a.12313"]]},{"id":"93b18d4a.e9cf4","type":"debug","z":"65504fca.1ed97","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":80,"wires":[]},{"id":"e9f0a092.dd88b","type":"http in","z":"65504fca.1ed97","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":230,"y":320,"wires":[["2293d73.e038e28"]]},{"id":"2293d73.e038e28","type":"function","z":"65504fca.1ed97","name":"cloud ","func":"msg.payload={\"temperature\":global.get(\"temperature\"),\"humidity\":global.get(\"humidity\"),\"distance\":global.get(\"distance\")}\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":360,"wires":[["6e83810b.464e8"]]},{"id":"6e83810b.464e8","type":"http response","z":"65504fca.1ed97","name":"","statusCode":"","headers":{},"x":570,"y":400,"wires":[]},{"id":"760b1701.4b4288","type":"ui_gauge","z":"65504fca.1ed97","name":"","group":"a4b7f95d.ba8a58","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":260,"wires":[]},{"id":"ebf3a08a.12313","type":"ui_gauge","z":"65504fca.1ed97","name":"","group":"c6ec7e90.4c034","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":200,"wires":[]},{"id":"4a666276.cde57c","type":"function","z":"65504fca.1ed97","name":"distance","func":"msg.payload=msg.payload.d.distance\nglobal.set(\"distance\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["93b18d4a.e9cf4","fdc0446e.d31638"]]},{"id":"fdc0446e.d31638","type":"ui_gauge","z":"65504fca.1ed97","name":"","group":"a4b7f95d.ba8a58","order":0,"width":0,"height":0,"gtype":"gage","title":"distance","label":"units","format":"{{value}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":300,"wires":[]},{"id":"395375a0.746b4a","type":"ibmiot","z":"","name":"smart dustbins","keepalive":"60","serverName":"9h59w9.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":true},{"id":"a4b7f95d.ba8a58","type":"ui_group","z":"","name":"Default","tab":"4b8ecdcb.9876c4","disp":true,"width":"6","collapse":false},{"id":"c6ec7e90.4c034","type":"ui_group","z":"","name":"Default","tab":"4b8ecdcb.9876c4","disp":true,"width":"6","collapse":false},{"id":"4b8ecdcb.9876c4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]